@media (max-width: 960px) {
    nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    section {
        grid-template-columns: 1fr;
    }
    nav {
        grid-template-columns: repeat(1, 1fr);
    }
}